@font-face {
    font-family: Inter;
    src: url(fonts/inter.ttf);
}

body {
    /* background-color: black!important; */
    font-family: Inter!important;
}

.bg-black{
    background-color: black!important;;
}

.hiedra-nav-link {
    color: #ffeb33!important;
    font-size: 1.3rem;
    font-weight: bolder;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #ffeb33!important;
}